/* This is a comment!*/

p {
  font-size: 16px;
  line-weight: 1em;
}

figcaption{
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal .075em/1.5em Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}
